[run]
branch = True
source =
    mini_scanner

omit =
    tests/*
    */__main__.py

[report]
show_missing = True
skip_covered = False
precision = 2

exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    raise NotImplementedError
    if __name__ == "__main__":

[html]
directory = htmlcov